// SETTINGS
// -> Grid and font settings, variables, mixins and useful css-classes
//==============================================================================================================

// 1.1 	LAYOUT: MEDIAQUERIES BREAKPOINTS + CUSTOM MAX-WIDTHS (PX)
// 1.2 	LAYOUT: GRID-GUTTERS (PX)
// 2. 	BODY BASE-TYPE + UNIQUE BODY-SIZE WITHIN EACH MEDIAQUERY (PX) + MISC TYPESIZES
// 3. 	CALC FUNCTION AND LAYOUT VARS
// 4. 	TYPEFACES
// 5. 	COLORS
// 6.   MISC
// 7.
// 8.

//==============================================================================================================

// 1.1 -----------------------------------------------------------------------------------------------------------

$beta_screen: 760; // (Use as variable: "$beta_query")
$charlie_screen: 1024; // (Use as variable: "$charlie_query")
$delta_screen: 1400; // (Use as variable: "$delta_query")
$echo_screen: 1700; // (Use as variable: "$echo_query")
$max_width: 1680; // (Use as variable: "$containerwidth")

// Decreased maxwidth
$max_width_decr: 7em; // (Use as HTML-class, added to l-container: "decr-maxw")

// Increased maxwidth
$max_width_incr: 1200px; // (Use as HTML-class, added to l-container: "incr-mw")

//WIDTH DEFINITIONS ==============================================================================================================

$spanwidth-1:  8.33%;
$spanwidth-2:  16.66%;
$spanwidth-3:  25%;
$spanwidth-4:  33.33%;
$spanwidth-5:  41.66%;
$spanwidth-6:  50%;
$spanwidth-7:  58.33%;
$spanwidth-8:  66.66%;
$spanwidth-9:  75%;
$spanwidth-10: 83.33%;
$spanwidth-11: 91.66%;
$spanwidth-12: 100%;


// 1.2 -----------------------------------------------------------------------------------------------------------

$alpha_gutter: 16; // (Use as variable: "$gutter_alpha" and "$gutter_alpha_half")
$beta_gutter: 36; // Use as variable: "$gutter_beta" and "$gutter_beta_half")
$charlie_gutter: 42; // (Use as variable: "$gutter_charlie" and "$gutter_charlie_half")
$delta_gutter: 48; // (Use as variable: "$gutter_delta" and "$gutter_delta_half")
$echo_gutter: 48; // (Use as variable: "$gutter_echo" and "$gutter_echo_half")

// 2 -----------------------------------------------------------------------------------------------------------

$fontsize: 16;
$body_leading: 24;

$fontsize_beta: 18;
$body_leading_beta: 26;

$fontsize_charlie: 14;
$body_leading_charlie: 21;

$fontsize_delta: $fontsize;
$body_leading_delta: $body_leading;

$fontsize_echo: $fontsize;
$body_leading_echo: $body_leading;

// --

$rem_base: 18;

// --

$inputfontsize: $fontsize;
$inputheight: $body_leading*2; // used for input type="submit" aka .a-btn as well
$btnfontsize: 14;

// 3 -----------------------------------------------------------------------------------------------------------

// VARIABLES WITH UNITS -> Build variables for lineheight, containerwidth and breakpoints with units (rem or pixels).
// Purpouse: extend basic layout values to be used for whatever.

// $leading, lineheight in rem for smallest screen
// $leading_beta, lineheight in rem for beta screen
// $leading_charlie, lineheight in rem for charlie screen
// $leading_delta, lineheight in rem for delta screen
// $leading_echo, lineheight in rem for echo screen

// $containerwidth, maxwidth for layouted areas in pixels

// $*_query, output mediaquerybreakpoints in pixels

// -----------------------------------------------------------------------------------------------------------

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($px, $countbase: $rem_base){
  @return strip-unit($px)/$countbase+0rem;
}

$leading: rem($body_leading);
$leading_beta: rem($body_leading_beta);
$leading_charlie: rem($body_leading_charlie);
$leading_delta: rem($body_leading_delta);
$leading_echo: rem($body_leading_echo);

$containerwidth: $max_width+($echo_gutter*2)+0px;

$beta_query: $beta_screen+0px;
$charlie_query: $charlie_screen+0px;
$delta_query: $delta_screen+0px;
$echo_query: $echo_screen+0px;


// 4 -----------------------------------------------------------------------------------------------------------

$bodyfont: 'jaf-bernino-sans', sans-serif;

// 5 -----------------------------------------------------------------------------------------------------------

$body-bgcolor: #f5f5f5;
$body-textcolor: #00080b;
$action-color: 	#0091ab;
$subtle-textcolor: #53585a;
$subtle-bgcolor: #e2e4e4;
$subtle-bordercolor: #b4babe;
$input-bgcolor: $body-bgcolor;
$highlight-bgcolor: ;
$error-text: ;

$hamburger-line-color: $action-color;
$hamburger-bg-color: white;
$hamburger-line-color_active: white;
$hamburger-bg-color_active: $action-color;

// 6 -----------------------------------------------------------------------------------------------------------

$header_lh: $leading*3;
$anim_speed: 180ms;
$soft_border: 2px;

// 7 -----------------------------------------------------------------------------------------------------------


// 8 -----------------------------------------------------------------------------------------------------------
