
// ATOMS ---------------------------------------------------------------

.a-btn{
  display: block;
  width: auto;
  height: rem($inputheight);
  font-family: $bodyfont;
  font-size: rem($btnfontsize);
  line-height: rem($inputheight);
  text-align: center;
  text-decoration: none;
  background-color: #6bd3cc;

  @media all and (min-width: $delta_query) {
    height: rem($inputheight*1.5);
    line-height: rem($inputheight*1.5);
    transition: background-color $anim_speed linear;
  }
}



// STATES ---------------------------------------------------------------

@media all and (min-width: $charlie_query) {

  .a-btn:hover{
    color: white;
    cursor: pointer;
    background-color: lighten($action-color, 3%);
  }
}