
// ATOMS ---------------------------------------------------------------

.a-inputText,
.a-textarea{
  width: 100%;
  height: rem($inputheight);
  font-size: rem($inputfontsize);
  line-height: rem($inputheight);
  font-family: $bodyfont;
  background-color: $input-bgcolor;

  &::-webkit-input-placeholder {
    color: $subtle-textcolor;
  }

  &:-moz-placeholder {
    color: $subtle-textcolor;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: $subtle-textcolor;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $subtle-textcolor;
  }

  &.inline{
    display: inline-block;
    width: auto;
  }
}

.a-btn{
  display: block;
  width: auto;
  height: rem($inputheight);
  font-family: $bodyfont;
  font-size: rem($btnfontsize);
  line-height: rem($inputheight);
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: $action-color;
}



// STATES ---------------------------------------------------------------

@media all and (min-width: $charlie_query) {

  .a-btn:hover{
    color: white;
    cursor: pointer;
    background-color: darken($action-color, 3%);
  }
}



// ANIMATION ---------------------------------------------------------------

.a-btn{
  transition: background-color $anim_speed ease-out;
}