// ATOMS

.a-bio-title{
  margin-top: $leading*1.25;
  margin-bottom: $leading;

  @media all and (min-width: $beta_query) {
    margin-top: 0;
    margin-bottom: $leading_beta;
  }
}



// MOLECULES

.m-bio-text{
  @extend .a-fineprint;
  color: darken($subtle-textcolor, 6%);

  p + p{
    margin-top: $leading;

    @media all and (min-width: $beta_query) {
      margin-top: $leading_beta;
    }
  }
}



// ORGANISM

.o-global-footer{
  padding-top: $leading*3;
  padding-bottom: $leading*4;
  text-align: center;
  background-color: $subtle-bgcolor;

  @media all and (min-width: $beta_query) {
    text-align: left;
    padding-top: $leading_beta*3;
    padding-bottom: $leading_beta*4;
  }
}

.o-single_article + .o-global-footer{
  background-color: $body-bgcolor;
}

.o-bio{

  .a-avatar img{
    border-radius: 50%;
  }
}