// HAMBURGER VENDORISH--------

.c-hamburger {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: rem(60);
  height: rem(60);
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: $soft_border;
  box-shadow: -4px 0 4px 0 rgba(black, 0.05);
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: rem(29);
  left: rem(16);
  right: rem(16);
  height: rem(3);
  color: $body-textcolor;
  background-color: $hamburger-line-color;

  //TODO add corresponding half gutters for beta?
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: rem(3);
  background-color: $hamburger-line-color;
  content: "";
}

.c-hamburger span::before {
  top: rem(-9);
}

.c-hamburger span::after {
  bottom: rem(-9);
}

.c-hamburger--htx {
  background-color: rgba($hamburger-bg-color, 0.87);
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

// STATE -------------

.c-hamburger--htx.s-is-active {
  background-color: $hamburger-bg-color_active;
}

.c-hamburger--htx.s-is-active span {
  background: $hamburger-bg-color_active;
}

.c-hamburger--htx.s-is-active span::before {
  top: 0;
  transform: rotate(45deg);
  background-color: $hamburger-line-color_active;
}

.c-hamburger--htx.s-is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
  background-color: $hamburger-line-color_active;
}

.c-hamburger--htx.s-is-active span::before,
.c-hamburger--htx.s-is-active span::after {
  transition-delay: 0s, 0.3s;
}


// Atoms -----------------------------------------------

.a-global-header__title{

  a{
    color: inherit;
  }

  @media all and (min-width: $beta_query) {
    text-align: left;
  }
}

.a-global-nav-toggler{
  position: fixed;
  top: $leading/2;
  right: 0;
  z-index: 500;

  @media all and (min-width: $beta_query) {
    top: rem($body_leading_beta + $fontsize_beta)/2;
    right: 0;
  }

  @media all and (min-width: $charlie_query) {
    display: none;
  }
}



// Molecules -----------------------------------------------

.m-global-header{
  line-height: rem($body_leading*3 + $fontsize);

  @media all and (min-width: $beta_query) {
    line-height: rem($body_leading_beta*3 + $fontsize_beta);
  }

  @media all and (min-width: $charlie_query) {
    margin-top: $leading_charlie*2;
    margin-bottom: $leading_charlie*2;
    line-height: rem($body_leading_charlie*3 + $fontsize_charlie);
  }

  @media all and (min-width: $delta_query) {
    //margin-top: $leading*1.5;
   // margin-bottom: $leading*3;
  }

  @media all and (min-width: $echo_query) {
   // margin-top: $leading*1.5;
    //margin-bottom: $leading*5;
  }
}

.m-global-nav{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 500;
  padding-top: $leading*6;
  opacity: 0;
  pointer-events: none;
  background-color: rgba($body-bgcolor, 0.96);

  li{
    transform: translateY($leading*3);
    text-align: center;
  }

  @media all and (min-width: $charlie_query) {
    position: static;
    float: right;
    width: auto;
    padding-top: 0;
    opacity: 1;
    pointer-events: auto;

    a{
      color: inherit;
    }

    li{
      display: inline-block;
      float: left;
      transform: translateY(0);

      & + li{
        margin-left: $leading_charlie;
      }
    }
  }
}



// States -----------------------------------------------

.m-global-nav.s-is-active{
  display: block;
  opacity: 1;
  pointer-events: auto;

  li{
    font-size: rem(30);
    line-height: (42/30);
    transform: translateY(0);

    & + li{
      margin-top: $leading;
      padding-top: $leading;
      border-top: 1px solid $subtle-bordercolor;

      @media all and (min-width: $beta_query) {
        margin-top: $leading_beta*1.5;
        padding-top: $leading_beta*1.5;
      }
    }
  }
}



// Animation -----------------------------------------------

.m-global-nav{
  transition: opacity $anim_speed ease-out;

  li{
   transition: transform $anim_speed ease-out;
  }
}