// ATOMS

.a-bio-title{
  margin-top: $leading;
  margin-bottom: $leading*1.25;
  padding-bottom: $leading;
  font-size: rem(21);
  line-height: (30/21);
  font-weight: 600;
  color: $body-textcolor;
  border-bottom: 1px solid $subtle-bordercolor;

  @media all and (min-width: $beta_query) {
    margin-top: 0;
    margin-bottom: $leading_beta;
    padding-bottom: $leading_beta;
  }
}

// MOLECULES

.m-bio-text{
  margin-bottom: $leading*1.25;
  @extend .a-fineprint;

  @media all and (min-width: $beta_query) {
    margin-bottom: $leading_beta;
  }

  p + p{
    margin-top: $leading;

    @media all and (min-width: $beta_query) {
      margin-top: $leading_beta;
    }
  }
}



// ORGANISM

.o-global-footer{
  padding-top: $leading*3;
  padding-bottom: $leading*3;
  text-align: center;
  color: darken($subtle-textcolor, 9%);
  background-color: $subtle-bgcolor;

  @media all and (min-width: $beta_query) {
    text-align: left;
    padding-top: $leading_beta*3;
    padding-bottom: $leading_beta*3;
  }

  a{
    color: darken($action-color, 2%);
  }
}

.o-single_article + .o-global-footer{
  background-color: $body-bgcolor;
}

.o-bio{

  .a-avatar img{
    //border-radius: 50%;

    @media all and (min-width: $beta_query) {
      //border-radius: 0;
    }
  }
}