
// Atoms -----------------------------------------------

.a-global-header__title{
  font-family: $captionfont-1;
  font-size: rem(13);
  //@extend .a-fineprint;
  //font-weight: bold;
  line-height: $leading*3;
  //text-align: center;

  a{
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  span{
    font-family: $bodyfont;
    font-weight: 400;
    //font-style: italic;
    color: $subtle-textcolor;
  }
}



// Molecules -----------------------------------------------

.m-global-header{

}