
// ATOMS -----------------------------

.m-hentryitem .mis_container + .a-hentryitem-title{
  //margin-top: $leading;
}

.m-hentryitem .a-hentryitem-title + .a-hentryitem-meta{
  //margin-top: $leading*0.75;
}



  // MOLECULES -----------------------------

.m-hentryitem{
  margin-bottom: $leading*3;
  text-align: center;
}



// MOLECULES -----------------------------

.m-hentryitem.s-has_no_meta_descr,
.m-gallery__item{
  position: relative;
  margin-bottom: rem($alpha_gutter);

  @media all and (min-width: $beta_query) {
    margin-bottom: rem($beta_gutter);
  }

  @media all and (min-width: $charlie_query) {
    margin-bottom: rem($charlie_gutter);
  }

  @media all and (min-width: $delta_query) {
    margin-bottom: rem($delta_gutter);
  }

  @media all and (min-width: $echo_query) {
    margin-bottom: rem($echo_gutter);
  }

  .a-hentryitem-title{
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    margin-top: 0;
    padding: $leading*3 rem($alpha_gutter) $leading*1.5 rem($alpha_gutter);
    @extend .a-fineprint;
    text-align: center;
    color: $action-color;
    background-image: linear-gradient(top, rgba(black, 0.00), rgba(black, 1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
    pointer-events: none;
  }
}



// STATES -------------------------------------------------------------

.m-hentryitem.s-has_meta_descr{

  a{
    display: block;
    //color: inherit;
  }

  .a-hentryitem-title{
    margin-top: $leading*1.5;
    margin-bottom: $leading;
    font-weight: 600;

    & + .a-hentryitem-meta{
      max-width: rem(720);
    }
  }

  .a-hentryitem-meta{
    color: $subtle-textcolor;

    p:after{
      content: ' / Se allt';
      color: $action-color;
    }

    p + p{
      margin-top: $leading;
    }
  }
}