
// ATOMS -----------------------------

.m-hentryitem .mis_container + .a-hentryitem-title{
  //margin-top: $leading;
}

.m-hentryitem .a-hentryitem-title + .a-hentryitem-meta{
  //margin-top: $leading*0.75;
}



  // MOLECULES -----------------------------

.m-hentryitem{
  margin-bottom: $leading*3;
  text-align: center;

  @media all and (min-width: $beta_query) {
    margin-bottom: $leading_beta*3;
    text-align: left;
  }
}



// MOLECULES -----------------------------

.m-hentryitem.s-has_no_meta_descr,
.m-gallery__item{
  position: relative;
  margin-bottom: rem($alpha_gutter);

  @media all and (min-width: $beta_query) {
    margin-bottom: rem($beta_gutter);
  }

  @media all and (min-width: $charlie_query) {
    margin-bottom: rem($charlie_gutter);
  }

  @media all and (min-width: $delta_query) {
    margin-bottom: rem($delta_gutter);
  }

  @media all and (min-width: $echo_query) {
    margin-bottom: rem($echo_gutter);
  }

  .a-hentryitem-title{
    @extend .a-overlay-title;
  }
}



// STATES -------------------------------------------------------------

.m-hentryitem.s-has_meta_descr{

  a{
    display: block;
    //color: inherit;
  }

  .a-hentryitem-title{
    margin-top: $leading*1.5;
    margin-bottom: $leading;
    font-weight: 600;

    @media all and (min-width: $beta_query) {
      margin-top: $leading_beta;
      margin-bottom: $leading_beta/2;
    }

    //& + .a-hentryitem-meta{
    //  max-width: rem(720);
    //}
  }

  .a-hentryitem-meta{
    color: $subtle-textcolor;

    p:after{
      content: ' / Se allt';
      color: $action-color;
    }

    p + p{
      margin-top: $leading;

      @media all and (min-width: $beta_query) {
        margin-top: $leading_beta;
      }
    }
  }
}



// ANIMATION -------------------------------------------------------------

.js-added-HTML .m-hentryitem{
  opacity: 0;
  transition: opacity $anim_speed*6 ease-out;

  .mis_img{
    opacity: 1;
  }
}