
// Atoms ---------------------------------

.a-overlay-title{
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  padding: $leading*4 rem($alpha_gutter) $leading rem($alpha_gutter);
  @extend .a-fineprint;
  text-align: center;
  color: #777;
  background-image: linear-gradient(top, rgba(black, 0.00), rgba(black, 1));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
  pointer-events: none;

  @media all and (min-width: $beta_query) {
    padding: $leading_beta*4 rem($beta_gutter) $leading_beta rem($beta_gutter);
  }

  @media all and (min-width: $charlie_query) {
    padding: $leading_charlie*4 rem($charlie_gutter) $leading_charlie*1.5 rem($charlie_gutter);
  }
}

// Modules -------------------------------

a.m-hero{
  display: block;
  position: relative;
  color: inherit;
}

.m-hero-img__container{
  margin-bottom: $leading*3;

  @media all and (min-width: $beta_query) {
    margin-bottom: $leading_beta*3;
  }

  @media all and (min-width: $charlie_query) {
    margin-bottom: $leading_charlie*3;
  }
}