// Atoms -----------------------------

.a-section-title{
  margin-bottom: $leading*2;
  text-align: center;

  @media all and (min-width: $beta_query) {
    margin-bottom: $leading_beta*2;
  }

  @media all and (min-width: $charlie_query) {
    margin-bottom: $leading_charlie*3;
  }
}

p.a-section-archivelink{
  //margin-top: $leading;
  margin-bottom: $leading*3;

  @media all and (min-width: $beta_query) {
    //margin-top: $leading_beta;
    //width: 62.5%;
    // margin: 0 auto $leading_beta*3 auto; TODO mayby only for hentry w description?
    margin-bottom: $leading_beta*3;
  }

  @media all and (min-width: $charlie_query) {
    //margin-top: $leading_beta;
    //width: 62.5%;
    // margin: 0 auto $leading_beta*3 auto; TODO mayby only for hentry w description?
    margin-bottom: $leading_charlie*3;
  }

  a{
    color: white;
  }
}


// Molecules -----------------------------



// Organism -----------------------------

.o-section{
  margin-top: $leading*3;
  //margin-bottom: $leading*3;

  @media all and (min-width: $beta_query) {
    margin-top: $leading_beta*3;
    //padding-right: rem($beta_gutter);
    //padding-left: rem($beta_gutter);
  }

  @media all and (min-width: $charlie_query) {
    margin-top: $leading_charlie*3;
    padding-right: 0;
    padding-left: 0;
  }

  & + .o-section,
  &.is-standalone{
    //margin-top: $leading;
    margin-top: 0;
    padding-top: $leading*3;
    border-top: 1px solid $subtle-bordercolor;

    @media all and (min-width: $beta_query) {
      padding-top: $leading_beta*3;
    }

    @media all and (min-width: $charlie_query) {
      padding-top: $leading_charlie*3;
    }
  }

  a{
    display: block;
    color: inherit;
  }

  &.has_no_sectiontitle{
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
}