// Atoms -----------------------------

.a-section-title{
  margin-bottom: $leading;
}



// Molecules -----------------------------



// Organism -----------------------------

.o-section{
  margin-top: $leading*2;
  margin-bottom: $leading*2;
}