// Atoms -----------------------------

.a-section-title{
  margin-bottom: $leading*2;
  text-align: center;
}

p.a-section-archivelink{
  margin-top: $leading;
  margin-bottom: $leading*3;
  text-align: center;
  color: $body-textcolor;

  a{
    color: $action-color;
  }
}


// Molecules -----------------------------



// Organism -----------------------------

.o-section{
  margin-top: $leading*3;
  //margin-bottom: $leading*3;

  @media all and (min-width: $beta_query) {
    padding-right: rem($beta_gutter);
    padding-left: rem($beta_gutter);
  }

  @media all and (min-width: $charlie_query) {
    padding-right: 0;
    padding-left: 0;
  }

  & + .o-section,
  &.is-standalone{
    //margin-top: $leading;
    margin-top: 0;
    padding-top: $leading*3;
    border-top: 1px solid $subtle-bordercolor;
  }

  a{
    display: block;
    color: inherit;
  }
}