// ATOMS ----------------------------------

.a-single__header-title{
  margin-top: $leading*2;
  margin-bottom: $leading;
}

// MOLECULES ----------------------------------

.m-single__header{}

.m-single__text{
  margin-top: $leading*2;
  margin-bottom: $leading*2;

  p + p{
    margin-top: $leading;
  }
}

// ORGANISM ----------------------------------

// STATES ----------------------------------

// ANIMATION ----------------------------------



// ATOMS ----------------------------------

// MOLECULES ----------------------------------

// ORGANISM ----------------------------------

// STATES ----------------------------------

// ANIMATION ----------------------------------




