// ATOMS ----------------------------------

.a-single__header-title{
  position: relative;
  margin-top: $leading*2;
  margin-bottom: $leading*0.5;
  padding-bottom: $leading*0.75;
  text-align: center;
  color: $body-textcolor;
  border-bottom: 1px solid;

  @media all and (min-width: $beta_query) {
    margin-top: $leading_beta*3;
    margin-bottom: $leading_beta*1.5;
    padding-bottom: $leading_beta*1.25;
    text-align: left;
  }

  @media all and (min-width: $charlie_query) {
    margin-top: 0;
    margin-bottom: $leading_charlie*2;
    padding-top: $leading_charlie*3;
    padding-bottom: 0;
    border-top: 1px solid; // ??? dotted
    border-bottom: none;
  }
}

.single-post .a-single__header-title{
  margin-top: $leading;

  @media all and (min-width: $beta_query) {
    margin-top: $leading_beta*2;
  }

  @media all and (min-width: $charlie_query) {
    margin-bottom: $leading_charlie*2.5;
  }
}

.m-single__text .a-single__postdate{
  max-width: 100%;
  text-align: center;

  @media all and (min-width: $beta_query) {
    text-align: left;
  }

  @media all and (min-width: $charlie_query) {
    margin-top: 0;
  }
}

// MOLECULES ----------------------------------



.m-single__text{
  color: $subtle-textcolor;

  p {
    margin-top: $leading;
    margin-bottom: $leading;

    @media all and (min-width: $beta_query) {
      max-width: rem(620);
      margin-top: $leading_beta;
      margin-bottom: $leading_beta;
    }

    @media all and (min-width: $charlie_query) {
      margin-top: $leading_charlie;
      margin-bottom: $leading_charlie;
    }
  }
}


// ORGANISM ----------------------------------

.o-single_article{
  overflow: hidden;
  padding-bottom: $leading*3; // Or is *4 best?
  background-image: linear-gradient(top, $body-bgcolor, $subtle-bgcolor);

  @media all and (min-width: $beta_query) {
    padding-bottom: $leading_beta*3;
  }

  @media all and (min-width: $charlie_query) {
    padding-bottom: $leading_charlie*2;
  }
}

.o-single_article .o-gallery{
  margin-top: rem($alpha_gutter);

  @media all and (min-width: $beta_query) {
    margin-top: rem($beta_gutter);
  }

  @media all and (min-width: $charlie_query) {
    margin-top: rem($charlie_gutter);
  }

  @media all and (min-width: $delta_query) {
    margin-top: rem($delta_gutter);
  }

  @media all and (min-width: $echo_query) {
    margin-top: rem($echo_gutter);
  }
}


// STATES ----------------------------------

.o-single_main-content.is-not-landscape{

  .o-gallery{
    //margin-top: $leading*3;

    @media all and (min-width: $charlie_query) {
      margin-top: $leading_charlie*2;
    }
  }

}

.has-thumb{

  .l-single-fullbleed{
    @include fullbleed('dq');
    display: block;
  }

  .m-single__featured-img {
    background-color: transparent;

    img {

      @media all and (min-width: $charlie_query) {
        padding-right: rem($charlie_gutter/3);
      }

      @media all and (min-width: $delta_query) {
        padding-right: rem($delta_gutter/3);
      }

      @media all and (min-width: $echo_query) {
        padding-right: 0; // FIX AGAIN AFTER FINAL MAX-WIDTH IS SET
      }
    }
  }

  .m-single__text{

    @media all and (min-width: $charlie_query) {
      padding-right: rem($charlie_gutter*1.5);
      padding-left: rem($charlie_gutter/4);
    }

    @media all and (min-width: $delta_query) {
      padding-right: rem($delta_gutter*1.5);
      padding-left: rem($delta_gutter/4);
    }

    @media all and (min-width: $echo_query) {
      padding-right: rem($echo_gutter/2);
      padding-left: rem($echo_gutter/2);
    }

    p{
      // max-width: rem(720); TODO WHY?
    }
  }

  .m-single__text-inset{
    padding-right: rem($alpha_gutter);
    padding-left: rem($alpha_gutter);

    @media all and (min-width: $beta_query) {
      padding-right: rem($beta_gutter);
      padding-left: rem($beta_gutter);
    }

    @media all and (min-width: $charlie_query) {
      padding: 0;
    }
  }
}

.no-thumb {

  .m-single__text{

    @media all and (min-width: $charlie_query) {
      width: $spanwidth-8;
    }
  }
}




// ATOMS ----------------------------------

// MOLECULES ----------------------------------

// ORGANISM ----------------------------------

// STATES ----------------------------------

// ANIMATION ----------------------------------